<div class="well">
    <div class="row">
        <h2 class="col-xs-12">
            {{vm.fund.name | nullValue}} <br />
            <small>{{vm.fund["Transfer Agent Taxonomy Id"] | nullValue}}</small>
        </h2>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <label class="col-md-4">Domocile</label>
                        <span class="col-md-8">{{vm.fund["Domicile Id"] | nullValue}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Currency</label>
                        <span class="col-md-8">{{vm.fund["Price Currency Id"] | nullValue}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Classification</label>
                        <span class="col-md-8">{{vm.fund["Classification Taxonomy Id"] | nullValue}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Structure</label>
                        <span class="col-md-8">{{vm.fund["Legal Structure Taxonomy Id"] | nullValue}}</span>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Status</label>
                        <span class="col-md-8">{{vm.fund["Fund Status Taxonomy Id"] | nullValue}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <select class="col-xs-12" ng-options="shareClass['Short Name'] for shareClass in vm.fund.shareClasses" ng-model="vm.selectedShare"></select>
            </div>
            {{vm.selectedShare}}
            <share-class share="vm.selectedShare"></share-class>
        </div>
    </div>

</div>
